:root {
	--b-alpha-3: rgba(0,0,0,.03);
	--b-alpha-5: rgba(0,0,0,.05);
	--b-alpha-7: rgba(0,0,0,.07);
	--b-alpha-10: rgba(0,0,0,.1);
	--b-alpha-15: rgba(0,0,0,.15);
	--b-alpha-20: rgba(0,0,0,.2);
	--b-alpha-30: rgba(0,0,0,.3);
	--b-alpha-35: rgba(0,0,0,.35);
	--b-alpha-40: rgba(0,0,0,.4);
	--b-alpha-50: rgba(0,0,0,.5);
	--b-alpha-60: rgba(0,0,0,.6);
	--b-alpha-70: rgba(0,0,0,.7);
	--b-alpha-80: rgba(0,0,0,.8);
	--b-alpha-90: rgba(0,0,0,.9);
	--bg-w-pure: white;
	--main-bg-color: #F5F7FF;
	--theme-color: #5D47A8;
	--theme-color-logo: rgb(158,81,208);
	--txt-b-pure: black;
	--txt-w-pure: white;
	--w-alpha-05: rgba(255,255,255,.05);
	--w-alpha-10: rgba(255,255,255,.1);
	--w-alpha-20: rgba(255,255,255,.2);
	--w-alpha-30: rgba(255,255,255,.3);
	--w-alpha-50: rgba(255,255,255,.5);
	--w-alpha-60: rgba(255,255,255,.6);
	--w-alpha-70: rgba(255,255,255,.7);
	--w-alpha-80: rgba(255,255,255,.8);
	--w-alpha-90: rgba(255,255,255,.9);
}
@font-face {
	font-family: 'iconfont';  /* project id 1868588 */
	src: url('https://at.alicdn.com/t/font_1868588_srihcf90ufl.eot');
	src: url('https://at.alicdn.com/t/font_1868588_srihcf90ufl.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_1868588_srihcf90ufl.woff2') format('woff2'),
	url('https://at.alicdn.com/t/font_1868588_srihcf90ufl.woff') format('woff'),
	url('https://at.alicdn.com/t/font_1868588_srihcf90ufl.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_1868588_srihcf90ufl.svg#iconfont') format('svg');
}
* {
	outline: none;
	scrollbar-color: var(--b-alpha-15) var(--bg-w-pure);
	scrollbar-width: thin;
}
a {
	color: inherit;
	text-decoration: none;
}
body {
	background-color: var(--main-bg-color);
	cursor: default;
	font-family: "PingFang SC","Microsoft YaHei",sans-serif;
	height: 100%;
	overflow: hidden;
	margin: 0;
	max-width: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	transition: background-color .25s;
	-webkit-user-select: none;
	user-select: none;
}

.title {
	text-align: center;
	font-size: 60px;
	margin-top: 350px;
	color: #5D47A8;
}
.title span {
	font-size: 20px;
}
.logo {
	width: 350px;
	height: 350px;
	background: url(/assets/img/logo_512x512.png) no-repeat center;
	background-size: 50% 50%;
}
footer {
	bottom: 18px;
	color: var(--b-alpha-35);
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	transition: color .25s;
}
footer .link1 {
	margin: 0;
}
html {
	height: 100%;
}
.btnMain {
	border-radius: 15px;
	cursor: pointer;
	display: block;
	font-size: 1.333em;
	height: 60px;
	margin-bottom: 20px;
	/*transition: background-color .25s, box-shadow .25s, color .25s, opacity .25s;*/
	width: 100%;
	box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
}
.link1 {
	color: var(--theme-color);
	cursor: pointer;
	transition: all .25s;
}
.link1:link,
.link1:visted {
	color: var(--theme-color);
}
.link1:hover {
	color: rgb(65,105,225);
}
.link1:active {
	color: rgba(0,0,128,.8);
}
.logoBox {
	height: 350px;
	width: 350px;
	left: calc(50% - 175px);
	position: absolute;
	top: calc(28% - 200px);
	
}
.mainBox {
	margin: 0 calc(50% - 112px);
	position: absolute;
	top: 48%;
	transition: opacity .25s;
	width: 224px;
	z-index: 1;
}
.preload,
.preload * {
	transition: none !important;
}
#footerL {
	left: 25px;
	left: calc(env(safe-area-inset-left) + 25px);
	text-align: left;
}
#footerR {
	right: 25px;
	right: calc(env(safe-area-inset-right) + 25px);
	text-align: right;
}
#receive {
	background-color: #FFFFFF;
	border: none;
	box-shadow: 7px 7px 15px rgba(2,28,53,0.1);
	color: #5F3CDB;
}
#receive:hover {
	transform: scale(1.05);
	box-shadow: 0px 7px 30px rgba(2,28,53,0.1);
	/*box-shadow: 0 5px 30px rgba(65,145,245,.3);*/
	animation: btn_hover_receive .3s;
}
@keyframes btn_hover_receive  /* 定义一个css动画过程 */
{
    from {transform: scale(1);box-shadow: 7px 7px 15px rgba(2,28,53,0.1)}
    to {transform: scale(1.05);box-shadow: 0px 7px 30px rgba(2,28,53,0.1)}
} 

#receive:active {
	background-color: var(--theme-color);
	box-shadow: 0 5px 30px rgba(65,145,245,.5);
	color: white;
}
#send {
	background-color: var(--theme-color);
	border: none;
	box-shadow: 7px 7px 15px rgba(75, 10, 136, 0.1);
	color: white;
	/*transition: background-color .25s, box-shadow .25s, color .25s, opacity .25s;*/
	/*background-color: red; /* 浏览器不支持的时候显示 */
	/*background-image: linear-gradient(90deg,#5b38da, #7b5be6);*/
	background: linear-gradient(25deg,rgb(57, 12, 161),rgb(151, 76, 248));
}
#send:hover {
	transform: scale(1.05);
	box-shadow: 0px 7px 30px rgba(75, 10, 136, 0.1);
	/*box-shadow: 0 5px 30px rgba(65,145,245,.5);*/
	animation: btn_hover_send .3s;
}
@keyframes btn_hover_send  /* 定义一个css动画过程 */
{
    from {transform: scale(1);box-shadow: 7px 7px 15px rgba(75, 10, 136, 0.1)}
    to {transform: scale(1.05);box-shadow: 0px 7px 30px rgba(75, 10, 136, 0.1)}
} 
#send:active {
	background-color: var(--bg-w-pure);
	box-shadow: 0 5px 30px rgba(65,145,245,.3);
	color: var(--theme-color);
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--b-alpha-15);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--b-alpha-30);
}
::selection {
	background-color: rgba(65,145,245,.99);
	color: white;
}
@media screen and (max-width:500px) {
	#footerL {
		bottom: auto;
		top: 20px;
	}
	.title {
		margin-top: 100px;
	}
	.logoBox {
		top: calc(23% - 200px);
	}
	.mainBox {
		top: 25%;
	}
	.logoBox {
		height: 0;
		width: 0;	
	}
	.logo {
		width: 0;
		height: 0;
	}
}
